<%= render 'shared/form_errors', object: @menu %>

<%= form_with model: @menu do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div id="dishes">
    <%= f.label :dishes %>
    <%= f.collection_check_boxes :dish_ids, @restaurant_dishes, :id, :name %>
  </div>
  <div id="drinks">
    <%= f.label :drinks %>
    <%= f.collection_check_boxes :drink_ids, @restaurant_drinks, :id, :name %>
  </div>
  <%= f.submit 'Salvar' %>
<% end %>