<%= form_with model: @menu do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div id="dishes">
    <%= f.label :dish_ids %>
    <%= f.collection_check_boxes :dish_ids, Dish.all, :id, :name %>
  </div>
  <div id="drinks">
    <%= f.label :drink_ids %>
    <%= f.collection_check_boxes :drink_ids, Drink.all, :id, :name %>
  </div>
  <%= f.submit 'Salvar' %>
<% end %>