<%= render 'shared/form_errors', object: @drink %>

<%= form_with model: @drink do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :calories %>
    <%= f.number_field :calories %>
  </div>
  <div>
    <%= f.label :illustration %>
    <%= f.file_field :illustration, accept: 'image/*' %>
  </div>
  <div>
    <%= f.label :alcoholic %>
    <%= f.check_box :alcoholic %>
  </div>
  <%= f.submit 'Salvar' %>
<% end %>