<h2><%= @drink.name %></h2>
<p><%= Drink.human_attribute_name('Status') %>: <%= t @drink.status %></p>
<%= render 'shared/illustration', item: @drink %>
<p><%= @drink.description %></p>

<p>Valor energético: <%= @drink.calories %> kcal</p>

<p><%= @drink.alcoholic? ? 'Contém álcool' : 'Não contém álcool' %></p>

<%= link_to 'Editar bebida', edit_drink_path(@drink) %>

<% if @drink.active? %>
  <%= button_to 'Desativar bebida', deactivate_drink_path(@drink), method: :patch %>
<% else %>
  <%= button_to 'Ativar bebida', activate_drink_path(@drink), method: :patch %>
<% end %>

<h3>Porções disponíveis</h3>
<% if @drink.portions.any? %>
  <dl>
    <% @drink.portions.each do |portion| %>
      <%= link_to edit_drink_portion_path(@drink, portion) do %>
        <%= render portion %>
      <% end %>
    <% end %>
  </dl>
<% else %>
  <p>Não há porções cadastradas</p>
<% end %>

<%= link_to 'Adicionar porção', new_drink_portion_path(@drink) %>

<%= link_to 'Voltar', root_path %>