<h1>Editar horários de funcionamento</h1>

<%= form_with model: @restaurant, url: restaurant_schedules_path do |f| %>

  <ul>
    <% @restaurant.schedules.each do |schedule| %>

      <%= render 'shared/form_errors', object: schedule %>

      <li id=<%= schedule.weekday %>>
        <p><%= t schedule.weekday %></p>
        <%= f.fields_for :schedules, schedule do |sch_f| %>
          <div>
            <%= sch_f.label :active %>
            <%= sch_f.check_box :active %>
          </div>
          <div>
            <%= sch_f.label :start_time %>
            <%= sch_f.time_field :start_time, include_seconds: false %>

            <%= sch_f.label :end_time %>
            <%= sch_f.time_field :end_time, include_seconds: false %>
          </div>
        <% end %>

      </li>
    <% end %>
  </ul>

  <%= f.submit 'Salvar' %>
<% end %>