<h1>Novo horário de funcionamento</h1>

<%= render 'shared/form_errors', object: @schedule %>

<%= form_with model: @schedule do |f| %>
  <div>
    <%= f.label :weekday %>
    <%= f.select :weekday, Schedule.weekdays.map { |k,_v| [t(k), k] } %>
  </div>
  <div>
    <%= f.label :start_time %>
    <%= f.time_field :start_time, include_seconds: false %>
  </div>
  <div>
    <%= f.label :end_time %>
    <%= f.time_field :end_time, include_seconds: false %>
  </div>
  <%= f.submit 'Salvar' %>
<% end %>

<%= link_to 'Voltar', restaurant_path %>