<h2><%= @dish.name %></h2>
<p><%= Dish.human_attribute_name('Status') %>: <%= t @dish.status %></p>
<%= render 'shared/illustration', item: @dish %>
<p><%= @dish.description %></p>

<% if @dish.calories %>
  <p>Valor energético: <%= @dish.calories %> kcal</p>
<% end %>

<%= link_to 'Editar prato', edit_dish_path(@dish) %>

<% if @dish.active? %>
  <%= button_to 'Desativar prato', deactivate_dish_path(@dish), method: :patch %>
<% else %>
  <%= button_to 'Ativar prato', activate_dish_path(@dish), method: :patch %>
<% end %>

<%= button_to 'Remover prato', @dish, method: :delete, form: { data: { turbo_confirm: 'Você tem certeza?' } } %>

<h3>Porções disponíveis</h3>
<% if @dish.portions.any? %>
  <dl>
    <% @dish.portions.each do |portion| %>
      <%= link_to edit_dish_portion_path(@dish, portion) do %>
        <%= render portion %>
      <% end %>
    <% end %>
  </dl>
<% else %>
  <p>Não há porções cadastradas</p>
<% end %>

<% if @dish.dish_tags.any? %>
  <h3>Marcadores</h3>
  <ul>
    <% @dish.dish_tags.each do |tag| %>
      <li class="dish_tag"><%= tag.description %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Adicionar porção', new_dish_portion_path(@dish) %>

<%= link_to 'Voltar', root_path %>