<h1><%= @restaurant.brand_name %></h1>

<h2>Pratos</h2>

<% if @restaurant.dishes.any? %>
  <ul>
    <% @restaurant.dishes.each do |dish| %>
      <li>
        <%= render 'illustration', item: dish %>
        <h3><%= link_to dish.name, edit_dish_path(dish)%></h3>
        <p><%= dish.description %></p>
        <% if dish.calories %>
          <p>Valor energético: <%= dish.calories %> kcal</p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Ainda não há pratos cadastrados</p>
<% end %>

<%= link_to 'Novo prato', new_dish_path %>

<h2>Bebidas</h2>

<% if @restaurant.drinks.any? %>
  <ul>
    <% @restaurant.drinks.each do |drink| %>
      <li>
        <%= render 'illustration', item: drink %>
        <h3><%= link_to drink.name, edit_drink_path(drink) %></h3>
        <p><%= drink.description %></p>
        <% if drink.calories %>
          <p>Valor energético: <%= drink.calories %> kcal</p>
        <% end %>
        <% if drink.alcoholic %>
          <p>contém álcool</p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Ainda não há bebidas cadastradas</p>
<% end %>

<%= link_to 'Nova bebida', new_drink_path %>